<div class="container card mt-4 px-2 py-2" style="max-width: 80%"><br>

    <h3 class="text-center">Búsqueda de Tareas</h3>
    <div class="card-body  col-10 offset-1">
        <form (ngSubmit)="searchTodo()">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id" required [(ngModel)]="todo.id" name="id">
            </div>

            <div class="form-group">
                <label for="name">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" required [(ngModel)]="todo.descripcion" name="descrpcion">
            </div>

            <div class="form-group">
                <label for="name">Estado</label>
                <br>
                <div class="form-check form-check-inline">
                    <input id="todas" type="radio" class="form-check-input" value="" [(ngModel)]="todo.estado" name="estado" ngModel>
                    <label class="form-check-label" for="todas">Todos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="pendiente" type="radio" class="form-check-input" value="false" [(ngModel)]="todo.estado" name="estado" ngModel>
                    <label class="form-check-label" for="pendiente">Pendiente</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="resuelta" type="radio" class="form-check-input" value="true" [(ngModel)]="todo.estado" name="estado" ngModel>
                    <label class="form-check-label" for="resuelta">Resuelta</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Resultado</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class=" text-center">ID</th>
                            <th scope="col" class=" text-center">Descripción</th>
                            <th scope="col" class=" text-center">Adjunto</th>
                            <th scope="col" class=" text-center">Estado</th>
                            <th scope="col" class=" text-center"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let todo of todoList | async">
                            <td class=" text-center">{{todo.id}}</td>
                            <td class=" text-center">{{todo.descripcion}}</td>
                            <!-- Imagen/Foto/Documento adjunto a la descripcion -->
                            <td class="text-center">
                                <div *ngIf="todo.adjunto; then thenImgBlock else elseImgBlock"></div>
                                <ng-template #thenImgBlock>
                                    <span data-toggle="modal" data-target="#myModal" (click)="ver(todo.adjunto)" title="Ver adjunto">
                                                <fa-icon [icon]="clip"></fa-icon>
                                            </span>
                                </ng-template>
                            </td>
                            <!-- Estado de la tarea... si está pendiente  se puede pasar a resuelta -->
                            <td class=" text-center">
                                {{todo.estado?'Resuelta':'Pendiente'}}
                            </td>
                            <td class=" text-center">
                                <div *ngIf="todo.estado; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>
                                    <h2>
                                        <fa-icon [icon]="check" class="text-success" title="Resuelta"></fa-icon>
                                    </h2>
                                </ng-template>
                                <ng-template #elseBlock><button class="btn btn-primary" (click)="updateTodo(todo.id)">Pasar a Resuelta</button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</div>

<app-modal [adjunto]="adj ">
</app-modal>